/* modal */
.modal {
  position: relative;
  margin: 0 auto;

  width: 100%;
  min-width: 400px;
  height: fit-content;

  border-radius: 3px;
  background-color: var(--white-color);
  overflow: hidden;
}

/* .modal__header */
.modal__header {
  background-color: #5c598e;
  padding: 20px 25px;
}

/* .modal__title */
.modal__title {
  font-size: 20px;
  color: var(--white-color);
}

/* .modal__close
.modal__close {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 3px;
  outline: 1px dashed transparent;
  outline-offset: 5px;
  transition: outline-color 0.3s, background-color 0.3s;
  border: none;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--white-color);
  content: '';
}

.modal__close::before {
  rotate: 45deg;
}

.modal__close::after {
  rotate: -45deg;
} */

/* .modal__body */
.modal__body {
  padding: 25px;
}

/* .modal__form */
.modal__form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

/* .modal__feed */
.modal__feed {
  position: relative;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* .modal__input */
.modal__input {
  flex-grow: 1;

  padding: 12px 10px;
  border: 1px solid #5c598e;
  border-radius: 3px;
  background-color: var(--white-color);

  font-size: 14px;
  color: rgb(0, 0, 0, 0.8);
}

.modal__input:focus {
  outline: 1px solid #438f63;
}

.modal__input::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.is-invalid {
  border-color: #b13737;
}

/* .modal__error */
.modal__error {
  font-size: 14px;
  color: #b13737;
}
