/* .panel */
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  min-width: 250px;
  max-width: 350px;
  padding: 40px 25px 0;
  background: var(--bg-dark-blue-color);
}

/* .panel__logo */
.panel__logo {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  outline-offset: 10px;
  transition: opacity var(--transition-speed);
}

/* .panel__logo:hover */
.panel__logo:hover {
  opacity: 0.7;
}

/* .panel__logo-title */
.panel__logo-title {
  display: block;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: var(--font-size-title);
  color: var(--white-color);
}

/* .panel__logo-subtitle */
.panel__logo-subtitle {
  display: block;
  font-size: var(--font-size-normall);
  color: rgba(255, 255, 255, 0.5);
}

/* .panel__actions */
.panel__actions {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

/* .panel__actions::after */
.panel__actions::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  border-radius: var(--border-radius-normal);
  background: rgba(255, 255, 255, 0.2);
  content: '';
}

/* .panel__actions-btn */
.panel__actions-btn {
  display: block;
  width: 100%;
}

/* .contacts */
.contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 -25px;
  padding: 0;
  overflow-y: auto;
}

/* .contacts__item */
.contacts__item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  background-color: var(--bg-dark-blue-color);
  transition: background-color var(--transition-speed);
  border: none;
  outline: none;
  cursor: pointer;
}

/* .contacts__item_active */
.contacts__item_active {
  background-color: var(--bg-dark-blue-color-active);
}

/* .contacts__item:hover */
.contacts__item:hover,
/* .contacts__item:focus */
.contacts__item:focus {
  background-color: var(--bg-dark-blue-color-hover);
}

/* .contacts__item:active */
.contacts__item:active {
  background-color: var(--bg-dark-blue-color-active);
}

/* .contacts__item-icon */
.contacts__item-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: var(--border-radius-small);
  background-color: var(--bg-semidark-blue-color);
  background-image: url('../img/icon-profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* .contacts__item-block */
.contacts__item-block {
  width: calc(100% - 100px);
  flex-grow: 1;
  text-align: left;
}

/* .contacts__item-title */
.contacts__item-title {
  font-size: var(--font-size-normall);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--white-color);
  margin-bottom: 6px;
}

/* .info */
.info {
  height: 90px;
  padding: 25px;
  margin: 0 -25px;
  background-color: var(--bg-dark-blue-color-active);
}

/* .info__title */
.info__title {
  font-size: var(---font-size-normall);
  color: var(--white-color);
  margin-bottom: 6px;
}

/* .info__id */
.info__id {
  font-size: var(--font-size-normall);
  color: var(--light-text-color);
}
